body {
  background-color: #999999;
  font-family: Helvetica, Arial, sans-serif;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

header {
  grid-column: span 12;
  background-color: #47ccc7;
  text-align: center;
  justify-content: center;
  color: black;
  padding-left: 24px;
  margin-bottom: 24px;
}

h1 {
  font-size: 30px;
}

#mainimg {
  grid-column: span 5;
  width: 90%;
}

nav {
  grid-column: span 2;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  margin-bottom: 24px;
}

nav li a {
  display: block;
  text-decoration: none;
  color: black;
  background-color: #47ccc7;
  padding: 12px;
  font-weight: bold;
  font-size: 28px;
}

main {
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
}

article {
  grid-column: span 12;
}

h2 {
  text-align: center;
  border-bottom: 4px solid black;
  color: black;
}

footer {
  grid-column: span 12;
  background-color: #47ccc7;
  color: black;
  padding-left: 24px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
